
                    
<form method="post" action="/edit">
  
  <div><h2><input id="title" class="styled" name="title" type="text" value="<%= title %>"/><h2></div>
  
  <div><textarea name="body" rows="7" type="text"/><%- body %></textarea></div>

  <div><input id="title" name="id" type="hidden" value="<%= id %>"/></div>
  <div><input id="title" name="date" type="hidden" value="<%= date %>"/></div>
  <div><p><input class="button" type="submit" value="Submit"><p></div>
</form>
              