
                    
<form method="post" action="/new">
  <p><b>Title</b></p>
  <div><input id="title" class="styled" name="title" type="text"/></div>
  <p><b>Body</b></p>
  <div><textarea id="description" name="body" rows="7" type="text"/></textarea></div>
  <div><p><input class="button" type="submit" value="Submit"><p></div>
</form>
              